.section-title {
  padding: 100px 0;
  font-size: 7.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}
.sub-title {
  font-size: 4rem;
  font-weight: bold;
  padding: 0 0 3px 0;
  border-bottom: 6px solid #e03131;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 74px;
}
.parallax_content {
  min-height: 400px;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.img_bg_01 {
  background-image: url(../img/menu.jpg);
}
.img_bg_02 {
  background-image: url(../img/about.jpg);
}

.img_bg_03 {
  background-image: url(../img/location.jpg);
}
