@use "../css/config/responsive" as *; //名前を週略することが出来る
header {
  ul {
    display: flex;
    width: 100%;
    color: #fff;
    @include mq(pc) {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
