@use "../css/config/responsive" as *; //名前を週略することが出来る

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
}
img {
  width: 100%;
}
p {
  font-size: 1.6rem;
}
.contents {
  background-color: #fff;

  text-align: center;

  @include mq(pc) {
    padding: 80px 0;
  }
  @include mq(sp) {
    padding: 33px 0;
  }
}
