@charset "UTF-8";
html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 90px 16px 150px 16px;
}

img {
  width: 100%;
}

p {
  font-size: 1.6rem;
}

.contents {
  background-color: #fff;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .contents {
    padding: 80px 0;
  }
}
@media screen and (max-width: 767px) {
  .contents {
    padding: 33px 0;
  }
}

body {
  font-family: "Helvetica Neue", "Arial、Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", "sans-serif";
}

.section-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}
@media screen and (min-width: 1025px) {
  .section-title {
    padding: 100px 0;
    font-size: 7.2rem;
  }
}
@media screen and (max-width: 767px) {
  .section-title {
    padding: 29px 0;
    font-size: 3.2rem;
  }
}

.sub-title {
  font-weight: bold;
  padding: 0 0 3px 0;
  border-bottom: 6px solid #e03131;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 74px;
}
@media screen and (min-width: 1025px) {
  .sub-title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .sub-title {
    font-size: 2rem;
  }
}

.parallax_content {
  height: 300px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.img_bg_01 {
  background-image: url(../img/menu.jpg);
  position: relative;
}

.img_bg_02 {
  background-image: url(../img/about.jpg);
  position: relative;
}

.img_bg_03 {
  background-image: url(../img/location.jpg);
  position: relative;
}

#header {
  position: absolute;
  min-height: 100vh;
  background-image: url(../img/mainvisual.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 20px 40px;
  position: relative;
}
#header ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #fff;
}
@media screen and (min-width: 1025px) {
  #header ul {
    margin-right: 0;
    margin-left: auto;
  }
}
#header ul li {
  margin-left: 27px;
}
#header ul li:first-of-type {
  margin-left: 0;
}
#header ul li a {
  font-weight: bold;
  font-size: 1.4;
  transition: all 0.3 ease;
  text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.16);
}
#header ul li a:hover {
  color: #e03131;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#mainvisual {
  position: relative;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  #mainvisual {
    height: 100vh;
  }
  #mainvisual img {
    height: 100%;
  }
}

#menu {
  margin-top: 20px;
}
#menu .menu-container {
  width: 100%;
}
@media screen and (min-width: 1025px) {
  #menu .menu-container {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1025px) {
  #menu .menu-container .menu-column {
    width: 50%;
    border-right: #000 1px solid;
    padding: 0 45px;
  }
}
#menu .menu-container .menu-column:last-child {
  border-right: none;
}
#menu .menu-container .menu_item {
  display: flex;
  font-size: 1.4rem;
}
#menu .menu-container .menu_item dt {
  width: 90%;
  border-bottom: 1px dotted #000;
  margin-bottom: 30px;
  font-weight: normal;
  padding-bottom: 2px;
  text-align: left;
}
#menu .menu-container .menu_item dd {
  width: 10%;
  text-align: right;
}

#about .text-area {
  display: flex;
}
#about .btn {
  width: 160px;
  height: 50px;
  line-height: 3.5;
  display: inline-block;
  color: #000;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  /*
  .btn::before 右の赤線
  .btn::after 下の赤線
  .btn span::before 左の赤線
  .btn span::after 上の赤線
  */
  /*
  ホバー時の縦の動作
  右の赤線と左の赤線の高さを100%にする
  */
  /*
  ホバー時の横の動作
  下の赤線と上の赤線の横幅を100%にする
  */
}
#about .btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#about .btn #about .btn::before,
#about .btn #about .btn::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #e03131;
  transition: all 0.3s ease;
}
#about .btn #about .btn span::before,
#about .btn #about .btn span::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #e03131;
  transition: all 0.3s ease;
}
#about .btn #about .btn::before,
#about .btn #about .btn span::before {
  width: 2px;
  height: 50%;
}
#about .btn #about .btn::after,
#about .btn #about .btn span::after {
  width: 20%;
  height: 2px;
}
#about .btn #about .btn:hover::before,
#about .btn #about .btn span:hover::before {
  height: 100%;
}
#about .btn #about .btn:hover::after,
#about .btn #about .btn span:hover::after {
  width: 100%;
}

.map {
  width: 100%;
  height: auto;
  margin-bottom: 22px;
}
.map iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

address {
  font-size: 1.4rem;
  color: #383e45;
  font-weight: normal;
  text-align: left;
  line-height: 1.69;
}

footer {
  text-align: center;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */